<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true" />
  </settings>
  <typeAliases>
    <typeAlias alias="EmployeeDto" type="com.course.graphql.springboot.mybatis.service.dto.EmployeeDto"/>
    <typeAlias alias="PersonalDto" type="com.course.graphql.springboot.mybatis.service.dto.PersonalDto"/>
    <typeAlias alias="HistoryDto" type="com.course.graphql.springboot.mybatis.service.dto.HistoryDto"/>
  </typeAliases>
  <typeHandlers>
    <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.course.graphql.springboot.mybatis.enums.Department"/>
  </typeHandlers>
</configuration>