<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.graphql.springboot.mybatis.infrastructure.mapper.EmployeeMapper">
  <!-- 取得結果とDtoとのマッピング定義-->
  <resultMap id="employeeMap" type="EmployeeDto">
    <id property="employeeId" column="EMP_EMPLOYEE_ID"/>
    <result property="employeeName" column="EMP_EMPLOYEE_NAME"/>
    <result property="gender" column="EMP_GENDER"/>
    <result property="department" column="EMP_DEPARTMENT_ID" />
    <association property="personal" javaType="PersonalDto">
      <id property="employeeId" column="PD_EMPLOYEE_ID"/>
      <result property="birthday" column="PD_BIRTHDAY"/>
      <result property="telephoneNumber" column="PD_TELEPHONE_NUMBER"/>
      <result property="mailAddress" column="PD_MAIL_ADDRESS"/>
    </association>
  </resultMap>

  <sql id="baseSelect">
    SELECT
      EMP.EMPLOYEE_ID as EMP_EMPLOYEE_ID,
      EMP.EMPLOYEE_NAME as EMP_EMPLOYEE_NAME,
      EMP.GENDER as EMP_GENDER,
      EMP.DEPARTMENT_ID as EMP_DEPARTMENT_ID,
      PD.EMPLOYEE_ID as PD_EMPLOYEE_ID,
      PD.BIRTHDAY as PD_BIRTHDAY,
      PD.TELEPHONE_NUMBER as PD_TELEPHONE_NUMBER,
      PD.MAIL_ADDRESS as PD_MAIL_ADDRESS,
    FROM
      EMPLOYEE EMP
        LEFT JOIN PERSONAL PD
          ON
          EMP.EMPLOYEE_ID = PD.EMPLOYEE_ID
  </sql>

  <select id="fetchEmployeeById" resultMap="employeeMap">
    <include refid="baseSelect"/>
      WHERE
        EMP.EMPLOYEE_ID = #{employeeId}
  </select>

  <select id="fetchEmployeeAll" resultMap="employeeMap">
    <include refid="baseSelect"/>
  </select>

</mapper>